<div class="content devroye", id="home_page_contents">
  <!-- Start: slider -->
  <div class="item">
    <div class="hero-unit">
      <div class="page-header">
        <h2><i class="icon-briefcase"></i> Resume</h2>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span2"><h4>About Me</h4></div>
          <div class="span9">
            <div class="rinfo">
              <h4>Arun Kawdiya</h4>
              <div class="rmeta">Java Developer</div>
              <p class="description_long">I am a Software developer with 6 Monthsof experience, working in distributed agile development environments from around the world.I have  built software using Java and Ruby on Rails as part of teams using methodologies like SCRUM Or AGILE. I have good experience working with Web Startups.I bring with me detail oriented experience in managing development of Database Driven Scalable Web Applications from start to finish.

              As a Developer,I strongly appreciate clean, well-structured, communicative code.I am looking for challenging web projects where I can apply my skills and bring value to your business. I'm a motivated developer who can take see your project through from the design phase to completion.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span3"><h4>Education</h4></div>
          <div class="span8">
            <div class="rinfo st-edu">
              <h4>Master of Computer Application  </h4>
              <div class="rmeta">Delhi,( India )</div>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="rblock">
          <div class="row">
            <div class="span2"><h4>Experience</h4></div>
            <div class="span9">
                <div class="rinfo">
                  <h5>Current : iRESAB</h5>
                  
                  <h5>
                    JAN/2014 &nbsp; to &nbsp;
                      till date
                  </h5>
                  <div class="rmeta">Software Developer</div>
                  <p>I am software engineer in iRESLab Infotech Pvt. Ltd. I like my job because I learn lots of things during my job. When I join this company I don't know more knowledge about Java And ruby on rails but today I'm Software Engineer  in this company.</p>
                </div>
            </div>
          </div>
      </div>
      <div class="rblock">
        <div class="row">
          <div class="span3"><h4>Skills</h4></div>
          <div class="span8">
            <div class="rinfo st-edu">
              <p>
			  Java , Spring, Ruby on Rails, MySQL, JavaScript, CSS, HTML, </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  